<!-- Shopping Cart -->
<div class="shopping-cart section" *ngIf="(basket$ | async) as basket">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Shopping Summery -->
                <app-basket-summary
                    (decrement)="decrementItemQuantity($event)"
                    (increment)="incrementItemQuantity($event)"
                    (remove)="removeBasketItem($event)"
                    [items]="(basket$ | async).items"
                ></app-basket-summary>
                <!--/ End Shopping Summery -->
            </div>
            
        </div>

        <div class="row">
            <div class="col-4 offset-8">
                <app-order-totals
                    *ngIf="(basketTotals$ | async)"
                    [shippingPrice]="(basketTotals$ | async).shipping"
                    [subtotal]="(basketTotals$ | async).subtotal"
                    [total]="(basketTotals$ | async).total"
                ></app-order-totals>
                <div class="button5">
                    <a routerLink="/checkout" class="btn">Proceed Checkout</a>
                    <a routerLink="/shop" class="btn">Continue shopping</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ End Shopping Cart -->