
<section class="product-area shop-sidebar shop section">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-12">
        <div class="shop-sidebar">
          <ng-container *ngIf="types && brands">
            <!-- Single Widget ( CATEGORIES ) -->
            <div class="single-widget category">
              <h3 class="title">Categories</h3>
              <ul class="categor-list">
                <li *ngFor="let category of types"
                    [class.active]="category.id === this.shopParams.typeId"
                    [value]="category.id"
                    (click)="onTypeSelected(category.id)"
                >
                  {{category.name}}
                </li>
              </ul>
            </div>
            <!--/ End Single Widget -->
            <!-- Single Widget ( CATEGORIES ) -->
            <div class="single-widget category">
              <h3 class="title">Brands</h3>
              <ul class="categor-list">
                <li *ngFor="let category of brands"
                    [class.active]="category.id === this.shopParams.brandId" [value]="category.id"
                    (click)="onBrandSelected(category.id)">
                    {{category.name}}
                </li>
              </ul>
            </div>
            <!--/ End Single Widget -->
            <!-- Shop By Price -->
            <div class="single-widget range">
              <h3 class="title">Shop by Price</h3>
              <div class="price-filter">
                <div class="price-filter-inner">
                  <div id="slider-range"></div>
                  <div class="price_slider_amount">
                    <div class="label-input">
                      <span>Range:</span
                      ><input
                        type="text"
                        id="amount"
                        name="price"
                        placeholder="Add Your Price"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <ul class="check-box-list">
                <li>
                  <label class="checkbox-inline" for="1"
                    ><input name="news" id="1" type="checkbox" />$20 - $50<span
                      class="count"
                      >(3)</span
                    ></label
                  >
                </li>
                <li>
                  <label class="checkbox-inline" for="2"
                    ><input name="news" id="2" type="checkbox" />$50 - $100<span
                      class="count"
                      >(5)</span
                    ></label
                  >
                </li>
                <li>
                  <label class="checkbox-inline" for="3"
                    ><input name="news" id="3" type="checkbox" />$100 - $250<span
                      class="count"
                      >(8)</span
                    ></label
                  >
                </li>
              </ul>
            </div>
            <!--/ End Shop By Price -->
          </ng-container>
          <!--/ End Single Widget -->
        </div>
      </div>

      <div class="col-lg-9 col-md-8 col-12">
        <div class="row">
          <div class="col-12">
            <!-- Shop Top -->
            <div class="shop-top" *ngIf="products">
              <div class="shop-shorter">
                <div class="single-shorter">
                  <app-paging-header
                    [totalCount]="totalCount"
                    [pageNumber]="this.shopParams.pageNumber"
                    [pageSize]="this.shopParams.pageSize"
                  ></app-paging-header>
                </div>
                <div class="single-shorter">
                  <!-- <label>Sort By :</label>
                  <select (change)="onSortSelected($event.target.value)">
                    <option *ngFor="let sort of sortOptions" 
                        [value]="sort.value">
                        {{sort.name}}
                    </option>
                </select> -->

                  <div class="form-inline">
                    <input 
                      (keyup.enter)="onSearch()" 
                      type="text" #search 
                      class="form-control mr-1" 
                      style="width: 380px;" 
                      placeholder="Search products. brands and categories">
                </div>
                </div>
              </div>
              <ul class="view-mode">
                <label>Sort By :</label>
                <select (change)="onSortSelected($event.target.value)">
                  <option *ngFor="let sort of sortOptions" 
                      [selected]="shopParams.sort === sort.value"
                      [value]="sort.value">
                      {{sort.name}}
                  </option>
                </select>
              </ul>
            </div>
            <!--/ End Shop Top -->
          </div>
        </div><!-- end row ---->
        <div class="row" >
          <div class="col-lg-4 col-md-6 col-12" *ngFor="let product of products">
            <app-product-item [product]="product"></app-product-item>
          </div>
        </div><!-- End Row -->
        <div class="row" *ngIf="totalCount > 0">
          <div class="col-12 d-flex justify-content-center Pagination">
            <app-pager
              [totalCount]="totalCount"
              [pageSize]="this.shopParams.pageSize"
              [pageNumber]="shopParams.pageNumber"
              (pageChanged)="onPageChange($event)"
            ></app-pager>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


